#head{
	text-align: center;
/*	background-image: url("../img/firecrack.jpg");
*/	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a8e8f2+0,1190a3+50,017e91+51,55bac9+100 */
	background: #a8e8f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #a8e8f2 0%, #1190a3 50%, #017e91 51%, #55bac9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a8e8f2 0%,#1190a3 50%,#017e91 51%,#55bac9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a8e8f2 0%,#1190a3 50%,#017e91 51%,#55bac9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8e8f2', endColorstr='#55bac9',GradientType=0 ); /* IE6-9 */

	background-size: 100%;
	margin: 1%;
	padding: 5%;
}
ul{
	list-style-type: circle;
}

section{
	display: inline-block;
	width: 45%;
	border:hidden 1px;
	padding: 1%;
	margin: 1%;
	float: left;
}

#peace{
	width: 100%;
	border-radius: 5px;
}

h1{
	color:#ffdead;
	font-family: aerial;
	font-style: oblique;
	font-variant: small-caps;
	font-size: 300%
}


#foot{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a8e8f2+0,1190a3+50,017e91+51,55bac9+100 */
	background: #a8e8f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #a8e8f2 0%, #1190a3 50%, #017e91 51%, #55bac9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #a8e8f2 0%,#1190a3 50%,#017e91 51%,#55bac9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #a8e8f2 0%,#1190a3 50%,#017e91 51%,#55bac9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8e8f2', endColorstr='#55bac9',GradientType=0 ); /* IE6-9 */
	clear: both;
	padding: 1%;
}
#foot a{
	text-decoration: none;
	margin: 5px;
}
#foot img{
	width: 5%;
	margin: 1%;
	border-radius: 5px;
}
#foot a:hover{
	color:#ffe100;
	background-color: #a614ce;

}
